body, html {
    height: 100%;
    margin: 0;
}

body {
  background-color: #202120;
}

p {
  font-family: 'Futura PT', 'Avenir Next', sans-serif;
  font-size: 14pt;
  color: white;
}

h4 {
  font-family: 'Futura', 'Avenir Next', sans-serif;
  font-size: 20pt;
  color: white;
}

h5 {
  font-family: 'Futura', 'Avenir Next', sans-serif;
  font-size: 12pt;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar, .rave {
  font-family: 'Futura', 'Avenir Next', sans-serif;
  font-size: 16pt;
  color: white;
}

.nav-bar li a:hover, .nav-bar li:hover {
  color: #1397B8;
  cursor: pointer;
  border-bottom:  solid #1397B8;

}

/*Navigation*/
.nav-bar li{
  text-decoration: none;
  display: inline;
  margin: 80px;
  border-bottom: 3px solid white;
  border-radius: 1px;
  padding-bottom: 3px;
}

.nav-bar ul{
  position: fixed;
  bottom: 20px;
  left: 10%;
  right: 10%;
  display: block;
  z-index: 2000;
}



/*HERO*/

.hero {
  background: #202120 url('../images/action.jpg') no-repeat ;
  background-size: cover;
  height: 100%;
}

.hero p {
  display: inline;
  margin: 15px;
}

.hero img {
  margin: auto;
  display: block;
  top: 180px;
  position: relative;
}

.rave li {
  text-decoration: none;
  display: inline;
  margin: 50px;
  padding-bottom: 3px;
}

.rave ul {
  bottom: 50px;
  left: 50%;
  right: 50%;
  display: block;
}

/*SYNOPSIS*/
.synopsis {
  clear: both;
  overflow: auto;
}

.synopsis.text {
  width: 100%;
  height: 100%;
  top: 0;
}

/*.text h4{
}*/

.text p, .text h4{
  float: left;
  width: 25%;
}

.synopsis img {
  margin: 20px;
}

.blue-box {
  width: 90%;
  background-color: #1397B8;
  mix-blend-mode: overlay;
  position: absolute;
  right: 0px;
}

#blu1 {
  height: 300px;
  top:765px;

}

/*Trailer*/
.trailer {
  background: #202120 url('../images/woman-concert.jpeg') no-repeat ;
  background-size: cover;
  height: 100%;
}

.trailer img {
  margin: auto;
  display: block;
  padding-top: 300px;
}


/*CAST*/
.cast {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  clear: both;
  margin: 55px 0;
}

h4.cast {
  float: left;
  text-align: left;
}

.actor {
  display: inline-block;
  margin: 30px 15px;
  text-align: center;
  position: relative;
}

.top-row, .bottom-row {
  text-align: center;
  position: relative;
  margin:auto;
 }

p.role{
  font-size: 12pt;
  font-style: italic;
  text-align: center;
  margin-top: -15px;
}

.cast .blue-box{
  height: 160px;
  margin: auto;
  margin-bottom: 
  top: 255px;
  left: 0;
  z-index: 1000;
}

#blu3 {
  top: 255px;
}

#blu2{
  top: 625px;
}

/*REVIEWS*/
.column-1{
  float: left;
  width: 18%; 
  margin: 5px 20px;
  margin-left: 60px;
}

.column-2{
  float: left;
  width: 18%;
  margin: 5px 20px;
}

.column-3{
  float: right;
  width: 40%;
  margin: 5px 20px;
  margin-right: 60px;
}

span {
  font-size: 20pt;
  color: #1397B8;
}

.reviews {
  background: #202120 url('../images/empty.png') no-repeat ;
  height: 100%;
  display: inline-block;
  padding: 10% 5px;
}


/*FOOTER*/
.footer{
width: 90%;
}

.search-bar, .button{
  border: 3px solid #1397B8;
  border-radius: 25px;
  padding: 5px 20px;
  width: 20%;
  color: #1397B8;
  font-family: 'Futura';
  margin: auto;
  display: inline;
  bottom: 25px;
}

.button{
  background: #1397B8;
  border: 3px solid #1397B8;
  color: #202120;
  width: 10%;
  text-align: center;
}















